<!DOCTYPE html> 
<head> 
    <title> LoL Champion Info </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     

</head>

<h1 class ="ui teal header"> Champion Information for:   <%= sumID %>  </h1> 
<h2> Total champions played: <%= champions.length %> / 145 </h2>
<h3 class ="ui orange header"> Total Mastery Level 7s: <%= masteryCount %> </h3>
 <h3>Champions with no chest obtained (<%= noChest.length %>): </h3>
 <div class="sub header"> 
	<% noChestChamps.forEach ( (num) => { %>
	  
	 <li> <%= num %> </li>
	<% }) %>

</div>
 <h3>Champions with chest granted (<%= 145 - noChest.length%>): </h3>
 <div class="sub header">
	<% yesChestChamps.forEach ( (num) => { %>
	  
	 <li> <%= num %> </li>
	<% }) %>

</div>
  

<h3> Future updates: </h3>
<% Object.keys(champions[0]).forEach( (key) =>{ %>
	<li> <%= key %> </li>

<% }) %>


